<!DOCTYPE html>
<html>
	<head>
		<meta name="charset" content="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Comercial compre bem</title>
		
	<link rel="stylesheet" type="text/css" href="CSS_Home.css">
	
		
</head>
<body>

		<div id="tp">
			<h1> SUPERMERCADO COMPRE BEM</h1>

		</div>

<div class="menu">
				<form>
		
		
					<a href="FormCadastroCliente.html"><input type="button" name="cad" value="Cadastrar Clientes" ></a><br>

					<a href="../Main/ListarCliente.php"><input type="button" name="cadList" value="Listar clientes"></a><br>

					<a href="FormCadastrarCategoria.html"><input  type="button" name="cadAlt" value="Cadastrar categoria"></a><br>
					
					
					<a href="../Main/ListarCategoria.php"><input type="button" name="botao" value="Listar Categoria"></a><br>

					<a href="FormCadastrarFornecedor.html"><input  type="button" name="cadAlt" value="Cadastrar Fornecedor"></a><br>

					<a href="../Main/ListarFornecedor.php"><input type="button" name="botao" value="Listar Fornecedor"></a><br>

					<a href="FormCadastrarProduto.php"><input  type="button" name="botao" value="Cadastrar produtos"></a><br>

					
					<a href="../Main/ListarProduto.php"><input  type="button" name="botao" value="Listar produtos"></a><br>

					<a href="../index.html"><input  type="button" name="botao" value="Sair do Sistema"></a><br>

				</form>
 </div>

		    <div id="esquerdo">
					<img src="../IMG/1.jpg" style="width: 409px"height="299px">
		
					<img src="../IMG/2.jpg" style="width: 409px" height="299px">
		
				</div>
				<div id="direito">
					<img src="../IMG/3.jpeg" style="width: 390px"height="299px">
					<img src="../IMG/4.jpg" style="width: 390px"height="299px">
				</div>
			
			
		
	</body>
</html>