<!DOCTYPE html>
<html>
	<head>
				
		<title>Comercial compre bem</title>
		<meta charset="utf-8">
		
	<link rel="stylesheet" type="text/css" href="CSS_Cli.css">
	
		
</head>
<body>

		<div id="tp">
			<h1> SUPERMERCADO COMPRE BEM</h1>

		</div>


		<form id="clientes" action="../Main/SalvarCliente.php" method="POST">
		<h4>CADASTRO DE CLIENTES</h4>
			<label>Nome do Cliente</label><br>
			<input type="text" name="nome" placeholder="Informe o nome do cliente"><br>
			<label>CPF</label><br>
			<input type="text" name="cpf" placeholder="Cpf"><br>
			<label>Endereço</label><br>
			<input type="text" name="endereco" placeholder="Informe o endereço"><br>
			<label>Telefone</label><br>
			<input type="text" name="telefone" placeholder="Informe o telefone"><br>
			<label>Cidade</label><br>
			<input type="text" name="cidade" placeholder="Informe a cidade"><br>
			<label>Estado</label><br>
			<input type="text" name="estado" placeholder="Informe o estado"><br>
		<br>
		
		<p class="enviar">
			<input type="submit" name="Cadastrar" value="Cadastrar">
		</p>
		<a href="../View/home.html">Home</a>
	</form>

		   

		    <div id="esquerdo">
					<img src="../IMG/1.jpg" style="width: 409px"height="299px">
		
					<img src="../IMG/2.jpg" style="width: 409px" height="299px">
		
				</div>
				<div id="direito">
					<img src="../IMG/3.jpeg" style="width: 390px"height="299px">
					<img src="../IMG/4.jpg" style="width: 390px"height="299px">
				</div>
			
			
		
	</body>
</html>