<!DOCTYPE html>
<html>
<head>
	<title>CADASTRO DE CLIENTES</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="CSS.css">
</head>
<body>
	<form id="clientes" action="../Main/SalvarCliente.php" method="POST">
		<h4>CADASTRO DE CLIENTES</h4>
		<label>Nome do Cliente</label><br>
		<input type="text" name="nome"placeholder="Informe o nome do cliente"><br>
		<label>CPF</label><br>
		<input type="text" name="endereço" placeholder="Cpf"><br>
		<label>Endereço</label><br>
		<input type="text" name="endereço" placeholder="Informe o endereço"><br>
		<label>Telefone</label><br>
		<input type="text" name="telefone" placeholder="Informe o telefone"><br>
		<label>Cidade</label><br>
		<input type="text" name="cidade" placeholder="Informe a cidade"><br>
		<label>Estado</label><br>
		<input type="text" name="estado" placeholder="Informe o estado"><br>
		<br>
		
		<p class="enviar">
			<input type="submit" name="Cadastrar" value="Cadastrar">
		</p>
	</form>
	

	</div>
				<div id="esquerdoCad">
					<img src="../IMG/1.jpg" style="width: 415px"height="292px"/>
		
					<img src="../IMG/2.jpg" style="width: 415px" height="292px"/>
		
				</div>
				<div id="direitoCad">
					<img src="../IMG/3.jpeg" style="width: 415px"height="292px"/>
					<img src="../IMG/4.jpg" style="width: 415px"height="292px"/>
				</div>
	   </div>




</body>
</html>